body {
	font-size: 20px;
	font-family: "Pangolin", cursive;
	margin-left: 20px;
	line-height: 50px;
	background-color: #ff7f50;
	text-align: center;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}
